.onTop { 
    background-color: #f1f7f7;
    text-align:left;
    padding-top: 5px;
    padding-bottom: 2px;
}

.contactRight {
    display: inline-block;
    float: right;
    margin-right: 40px;
    margin-top: 5px;
}

.contact {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}


.navbar { 
    background-color: #ffffff;
}

.tab {
    display: block;
    float: right;
    margin-right: 70px;
    padding-top: 20px;
}

body {
    font-family: sans-serif;
}


.linkGrid {
    padding-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4,2fr);
    gap: 1rem;
    text-align: center;
    font-size: 13px;
}

.dividerLabel {
    margin-top: 30px;
    content: "";
    display: block;
    text-align: left;
    margin-left: 30%;
}

.hrFooter {
    border-top: 1px solid darkslategray;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.textLeft {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
}

.textRight {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-50%, -50%);
}

.textFloat{
    position: absolute;
    top: 75%;
    left: 65%;
    transform: translate(-50%, -50%);
    border:solid 2.5px;
    border-radius: 5%;
    height:70px;
    width: 320px;
    background-color: rgba(0, 0, 0, 0.288);
}

.textFloat2{
    position: absolute;
    top: 10%;
    left: 32%;
}

.textFloat3{
    position: absolute;
    top: 20%;
    left: 20%;
}

.lblQuote{
    display: inline-block;
    margin-top: 7%;
    font-size: 20px;
}

.linkGrid2 {
    padding-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3,2fr);
    gap: 1rem;
    /* text-align: center; */
    font-size: 13px;
}



